body {
    font-family: 'Times New Roman';
}

header img {
    height: 500px;
    width: 100vw;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-weight: bold;
    font-size: 40px;
}

h2 p {
    font-family: 'Times New Roman', Times, serif;
}

section img {
    width: 110px;
    height: 150px;
}

nav {
    font-size: 30px;
}

nav ul {
    text-align: center;
}

ul p {
    display:flex;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

ul p a {
    font-weight: bold;
}

/* # use flex: 2 0 ?px(s) flex: (growth#) (shrink#) (initial# px(s))*/

.workPortfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.hero {
    position: relative;
}

.heroTitle {
    position: absolute;
    bottom: 0px;
}